CELERY_TASK_ID_TTL=360
CHAT_BOT_WEBHOOK_URL=https://chatbot.com/webhook
THROTTLING_LIMIT=8
BACKEND_CORS_ORIGINS='["https://yourdomain.com", "https://otheryourdomain.com"]'
ALLOWED_HOSTS='["127.0.0.1", "localhost"]'
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0